

body {
    background: #575788;
    color: white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(200, 200, 200, 0.1);
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 0;
    justify-content: center;
}

/* header */
.fs-header {
    display: flex;
    z-index: 300;
    justify-content: space-between;
    align-items: center;
    padding: 14px 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03)
}

.fs-header button {
    z-index: 350;
}

.fs-title h1 {
    margin: 0;
}

.backbtn,
.theme-toggle-btn {
    text-decoration: none;
    display: flex;
    font-size: 15px;
    width: 225px;
    justify-content: space-between;
    background-color: rgb(75, 75, 75, 0.1);
    padding: 10px;
    border-radius: 20px;
    z-index: 351;
    align-items: center;
    border: 1px solid white;
    transition: all 0.3s;
    color: white;
}

.theme-toggle-btn {
    width: 45px;
    color: transparent;
    font-size: 1px;
}

.theme-toggle-btn span {
    color: white;
}

.light-theme .backbtn,
.light-theme .theme-toggle-btn {
    color: black;
    border: 1px solid black;
}

.backbtn span {
    transition: all 0.3s ease-in-out;
}

.light-theme .backbtn:hover,
.light-theme .theme-toggle-btn:hover {
    background-color: rgb(150, 150, 150, 0.4);
    width: 225px;
    font-size: 15px;
    color: black;
}

.dark-theme .backbtn:hover,
.dark-theme .theme-toggle-btn:hover {
    background-color: rgb(150, 150, 150, 0.4);
    width: 225px;
    font-size: 15px;
    color: white;
}

.backbtn:hover span {
    transform: translateX(-5px);
}


.theme-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    background: rgba(40, 40, 40, 0.95);
    color: white;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    z-index: 9999;
    overflow: hidden;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.theme-menu button {
    background: none;
    border: 0;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    text-align: left;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background: white;
    color: black;
}

.theme-menu button:hover {
    color: white;
    background: black;
}

.app-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    background: rgba(40, 40, 40, 0.95);
    color: white;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    z-index: 9999;
    width: 225px;
    overflow: hidden;
    animation: fadeIn 0.2s ease-in-out;
}

.app-menu button {
    background: none;
    border: 0;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: right;
    background: white;
    width: 100%;
    color: black;
}

.app-menu button:hover {
    color: white;
    background: black;
}

.app-menu a {
    background: none;
    text-decoration: none;
}

#deviceList {
    position: fixed;
    top: 75px;
    left: 0;
    height: calc(100vh - 75px);
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#DeviceDiv {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-align: left;
    width: 350px;
    height: 225px;
    padding: 15px;
    border-radius: 50px;
    border: solid 15px gray;
    background-color: rgb(250, 250, 250);
    gap: -5px;
}

#DeviceIcon {
    font-size: 125px;
    color: rgb(0, 0, 0, 0.5);
}


#DeviceAction {
    height: 50px;
    width: 50px;
    border: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px 0px black;
}

#MenuBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

#DeviceMenu {
    position: absolute;
    top: 0px;
    right: 0;
}

#DeviceActions {
    display: flex;
    gap: -5px;
    flex-direction: row;
}

.Act1 {
    border-radius: 14px 0 0 14px;
    border-left: solid 1px black;
}

.Act4 {
    border-radius: 0 14px 14px 0;
    border-right: solid 1px black;
}