@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter";
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    transition: all 0.3s ease-in-out;
}


/* Laptop styles */

/* ----------------------------- */
/*         GLOBAL RESET         */
/* ----------------------------- */
body {
    background: linear-gradient(to bottom, #000 0%, #000 101vh, #a6b8ff 120vh);
    overflow-x: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: auto;
    font-family: "Inter";
}

body.hide-scrollbar::-webkit-scrollbar {
    opacity: 0;
    transition: opacity 0.5s ease;
}

body::-webkit-scrollbar {
    opacity: 1;
    transition: opacity 0.5s ease;
}

body {
    overflow-y: scroll;
}

body.light-theme {
    background: linear-gradient(to bottom, #000 0%, #000 101vh, #a6b8ff 120vh);
    color: #0c0022;

}

body.dark-theme {
    background: linear-gradient(to bottom, #000 0%, #2b2c30 101vh, #3a3c42 120vh);
    color: #fff;


}










/* ----------------------------- */
/*         HEADER STYLES        */
/* ----------------------------- */

.long {
    display: block;

    opacity: 1;
}

.short {
    display: none;
}

header {
    pointer-events: auto;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    background: rgb(100, 100, 100, 0.2);
    background-size: 100% 300%;
    background-position: 0% 0%;
    color: white;
    padding: 0;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 30px;
    width: 325px;
    align-self: center;
    position: fixed;
    top: -100px;
    left: 10px;
    margin-bottom: 35px;
    font-family: "Inter";
    z-index: 2;
    overflow: hidden;
    padding: 20px;
}

header.hover {
    top: -100px;
}

header.scrolled {
    pointer-events: auto;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    background: rgb(100, 100, 100, 0.2);
    background-size: 100% 300%;
    background-position: 0% 0%;
    color: white;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 30px;
    width: 325px;
    align-self: center;
    position: fixed;
    top: 10px;
    left: 10px;
    margin-bottom: 35px;
    font-family: "Inter";
    overflow: hidden;
    z-index: 2;
    padding: 20px;
}

header.scrolled.hover {
    height: 100vh;
    border-radius: 0;
    padding: 20px;
    box-shadow: 0 8px 48px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background: rgb(100, 100, 100, 0.5);
    border: 1px solid rgba(100, 100, 100, 0.25);
    top: 0;
    left: 0;
    width: 335px;
    margin-bottom: 35px;
    font-family: "Inter";
    justify-content: space-around;

    z-index: 2;
}

header.hovered {
    top: 30px;
    animation: haveAttention 0.6s ease-in-out infinite alternate;
    transition: top 0.3s ease;
}

@keyframes haveAttention {
    0% {
        transform: scale(1);
        background-color: #ffcccc;
    }

    100% {
        transform: scale(1.15);
        background-color: #ff5454;
    }
}

header.scrolled {
    background: rgb(100, 100, 100, 0.2);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);

}

header a {
    width: 100%;
}

header.hover p {
    font-size: 20px;
    opacity: 1;
}

header p {
    opacity: 0;
    font-size: 1px;

}

header button:hover {
    background: rgba(255, 255, 255, 0.3);
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px) scale(1.05);
}

header h1 {
    margin-top: -5px;
}

header.hover h1 {
    margin: 0 0 0 0;
}


header button {
    opacity: 0;
    display: flex;
    width: 100%;
    height: 100px;
    font-family: "Inter";
    justify-content: space-around;
    border-radius: 25px;
    background: rgba(255, 255, 255, 3);
    transition: all 0.3s;
    font-size: 25px;
    text-align: center;
    border: 2px solid black;
    color: #092241;
    text-decoration: none;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    margin: 0 0 0 0;
    z-index: 2;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

header.hover button {
    opacity: 1;
}

header a {
    text-decoration: none;
    color: #092241;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header button:hover {
    transform: scale(1.05);
}

@media (max-width: 1023px) {
    .long {
        opacity: 0;
        display: none;
    }

    .short {
        opacity: 1;
        display: block;
    }

    header {
        pointer-events: auto;
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);

        border: 1px solid rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
        background: rgb(100, 100, 100, 0.2);
        background-size: 100% 300%;
        background-position: 0% 0%;
        color: white;
        padding: 0;
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        border-radius: 30px;
        width: 50px;
        align-self: center;
        position: fixed;
        top: -100px;
        left: 10px;
        margin-bottom: 35px;
        font-family: "Inter";
        transition: none;

        z-index: 2;
        overflow: hidden;
        padding: 20px;
    }

    header.hover {
        top: -100px;
    }



    header.scrolled {
        pointer-events: auto;
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);
        border: 1px solid rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
        background: rgb(100, 100, 100, 0.2);
        background-size: 100% 300%;
        background-position: 0% 0%;
        color: white;
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        border-radius: 30px;
        width: 50px;
        align-self: center;
        position: fixed;
        top: 10px;
        left: 10px;
        margin-bottom: 35px;
        font-family: "Inter";
        overflow: hidden;
        transition: none;

        z-index: 2;
        padding: 20px;
    }


    @keyframes haveAttention {
        0% {
            transform: scale(1);
            background-color: #ffcccc;
        }

        100% {
            transform: scale(1.15);
            background-color: #ff5454;
        }
    }

    header.scrolled {
        background: rgb(100, 100, 100, 0.2);
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);

    }

    header a {
        width: 100%;
    }

    header.hover p {
        font-size: 20px;
        opacity: 1;
    }

    header p {
        opacity: 0;
        font-size: 1px;

    }

    header button:hover {
        background: rgba(255, 255, 255, 0.3);
        color: white;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transform: translateY(-2px) scale(1.05);
    }

    header h1 {
        margin-top: -5px;
    }


    header button {
        opacity: 0;
        display: flex;
        width: 100%;
        height: 100px;
        font-family: "Inter";
        justify-content: space-around;
        border-radius: 25px;
        background: rgba(255, 255, 255, 3);
        transition: all 0.3s;
        font-size: 25px;
        text-align: center;
        border: 2px solid black;
        color: #092241;
        text-decoration: none;
        padding: 10px;
        align-items: center;
        cursor: pointer;
        z-index: 2;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    header.hover button {
        opacity: 1;
    }

    header a {
        text-decoration: none;
        color: #092241;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header button:hover {
        transform: scale(1.05);
    }
}











/* ----------------------------- */
/*         TOOLS STYLES         */
/* ----------------------------- */


iframe {
    height: auto;
    min-height: 300px;
    width: 100%;
}

#ToolsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border-radius: 25px;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    font-size: 20px;
    padding: 25px;
    color: #092241;
    transition: all 0.3s;
}

.tools-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.tools-grid a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    padding: 20px;
    width: 95%;
    text-decoration: none;
    color: #092241;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: "Inter";
    transition: all 0.3s;
    min-height: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.tools-grid a:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 48px rgba(0, 0, 0, 0.25);
}

/* Responsive : 1 colonne sur mobile */
@media (max-width: 1023px) {
    .tools-grid {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .tools-grid a {
        grid-template-columns: 1fr;
        height: 50px;
    }
}

.toolbtn {
    font-family: "Special Gothic Expanded One";
}

.Tools {
    width: 95%;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    transition: all 0.3s;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



.tools-grid a {
    color: #092241;
    text-align: center;
    height: 70%;
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: all 0.3s;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
    overflow: hidden;
}


#qn {
    background: #00418b9c;
}

#qn:hover {
    background: #44c8fc38;
}

#sc {
    background: rgba(172, 255, 47, 0.25);
}


#sc:hover {
    background: #00418b36;
}

#afi {
    background: rgba(255, 200, 60, 0.25);
}

#afi:hover {
    background: #32f55236;
}

#wkh {
    background: rgba(8, 214, 152, 0.25);
}


#wkh:hover {
    background: #3f87d836;
}

#dos {
    background: rgba(78, 10, 168, 0.25);
}

#dos:hover {
    background: #0bccc236;
}

.tools-grid a span {
    position: absolute;
    right: 75px;
    scale: 8;
    transition: all 0.2s ease-in-out;
}

.dark-theme .tools-grid a span {
    color: rgb(200, 200, 200);
}

.light-theme .tools-grid a span {
    color: rgb(50, 50, 50);
}

.tools-grid a:hover span {
    transform: translateX(-5px) scale(1.05);
    color: rgb(100, 100, 200);
}



/* ----------------------------- */
/*         NOTIFICATIONS         */
/* ----------------------------- */
.notification {
    top: 10px;
    right: 17.5%;
    /* Commence en dehors de l'écran */
    position: fixed;
    transition: all 0.3s ease;
    z-index: 501;
    will-change: transform, opacity;
}

/* Conteneur pour toutes les notifications */
#notifications-container {
    position: fixed;
    top: 10px;
    left: 17.5%;
    right: 17.5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Espace entre les notifications */
    z-index: 500;
    height: 1px;
}

/* Affichage de la notification */

.notification.show {
    opacity: 1;
    top: 10px;
    transition: all 0.3s ease;
    z-index: 100000;
}

/* Disparition de la notification */
.notification.hidden {
    opacity: 0;
    top: -100px;
    z-index: 100;
    transition: all 0.3s ease;
}

.notification {
    background: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: fixed;
    width: 65%;
    height: auto;
    cursor: default;
    transform: translateY(0);
    transition: all 0.3s ease;
    border-radius: 1rem;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #32a6ff, #3d8cff, #61a0ff);
    --gradientC: linear-gradient(to bottom, red, #ff3d3d, #ff6161);
    --color: #32a6ff;
    z-index: 2;
    border: 2px rgb(240, 250, 200);
}

.notification:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.notification:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
}

.critical::after {
    background: var(--gradientC);
    color: var(--gradientC);
}



.notification:hover:after {
    transform: translateX(0.15rem);
}

.notititle {
    color: var(--color);
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;
}

.critical .notititle {
    color: red;
}

.critical {
    color: var(--gradientC);
}


.notification:hover .notititle {
    transform: translateX(0.15rem);
}

.notibody {
    color: #99999d;
    padding: 0 1.25rem;
    transition: all 300ms ease;
    z-index: 5;
}

.notification:hover .notibody {
    transform: translateX(0.25rem);
    color: #092241;
}

.notiglow,
.notiborderglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle closest-side at center, white, transparent);
    opacity: 0;
    transition: opacity 300ms ease;
}

.notiglow {
    z-index: 3;
}

.notiborderglow {
    z-index: 1;
}

.notification:hover .notiglow {
    opacity: 0.1;
}

.notification:hover .notiborderglow {
    opacity: 0.1;
}

.notification:hover {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 48px rgba(0, 0, 0, 0.25);
}


/* Contenu */

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 0;
    z-index: 1;
}






/* Outils */




/* Div Nouveautés */

#News {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    border-radius: 25px;
    background-color: white;
    transition: all 0.3s;
    font-size: 20px;
    text-align: end;
    color: white;
    display: flex;
    padding: 25px;
    align-items: center;
    color: #092241;
}

.NewBox {
    width: 98%;
    height: auto;
    background-color: rgb(50, 50, 50);
    box-shadow: none;
    display: flex;
    color: white;
    flex-direction: column;
    transition: all 0.3s;
    gap: 10px;
    margin-bottom: 10px;
    text-align: left;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid white;
}

.NewBox:hover p,
.NewBox:hover a {
    transform: translateX(5px);
}

.NewBox h3 {
    font-weight: 900;
    font-family: "Inter";
    font-size: 35px;
    margin: 0;
    padding: 0;
}

.NewBox p {

    font-size: 15px;
    margin: 0;
    padding: 0;
}

#NewsContent {
    width: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
    border-radius: 10px;
}

/* Scrollbar personnalisée pour Chrome, Edge et Safari */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);

    /* ou une couleur assortie comme #1e1e1e */
}


::-webkit-scrollbar-thumb {
    background: #092241;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #09224173;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

/* Scrollbar sans flèches */
::-webkit-scrollbar-button {
    display: none;
}



/* Scrollbar stylée */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #9999995e;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}




/* -- */
#AboutUs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    align-items: center;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 25px;
    background-color: white;
    transition: all 0.3s;
    font-size: 20px;
    padding: 25px;
    align-items: center;
    color: #092241;
    box-shadow: #092241 0px 3px 10px 5px;
}

#PlatformStatus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    align-items: center;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 25px;
    background-color: white;
    transition: all 0.3s;
    font-size: 20px;
    padding: 25px;
    align-items: center;
    color: #092241;
    box-shadow: #092241 0px 3px 10px 5px;
}


#News,
#AboutUs,
#PlatformStatus {
    background: rgba(255, 255, 255, 0.15);
    justify-content: center;
    align-self: center;
    align-items: center;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
}

/* Optionnel : hover effet plus intense */
#News:hover,
#AboutUs:hover,
#PlatformStatus:hover {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 48px rgba(0, 0, 0, 0.25);
}

.NewBox {
    overflow: hidden;
}

.biggersize p {
    margin-top: 0;
}

.biggersize:hover {
    height: 225px;
}

.biggersize h6 {
    opacity: 1;
    color: white;
    transition: all 0.3s;
    margin-top: 0;
    margin-bottom: 0;
}

.biggersize:hover h6 {
    opacity: 0;
}



/* Bande animée */
.Work::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(135deg,
            #ffc107 25%,
            #444 25%,
            #444 50%,
            #ffc107 50%,
            #ffc107 75%,
            #444 75%,
            #444 100%);
    background-size: 80px 80px;
    animation: moveStripes 1s linear infinite;
    opacity: 0.5;
    z-index: 0;
    transition: all 0.3s;
}

.Work {
    transition: all 0.3s;
}

.Work:hover {
    transform: scale(1.05);
}


/* Texte au-dessus des bandes */
.Work h2 {
    position: relative;
    z-index: 200;
    opacity: 1;
}

/* Animation des bandes */
@keyframes moveStripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 80px 0;
    }
}


.update-notification {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    color: #092241;
    padding: 15px 20px;
    border-radius: 10px;
    z-index: 9999;
    animation: fadeIn 0.3s ease-in-out;

}

.update-notification:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 48px rgba(0, 0, 0, 0.25);
    color: #092241;
}

.update-notification button {
    background: #36fa71;
    color: #092241;
    border: none;
    margin-left: 10px;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

/* ----------------------------- */
/*         WELCOME SECTION      */
/* ----------------------------- */
#Welcome {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background: #000214;
    /* fond sombre par défaut */
}

/* Aura circulaire animée */
.aura {
    position: absolute;
    bottom: -50%;
    left: 50%;
    width: 500px;
    height: 200px;
    background: radial-gradient(circle,
            rgba(0, 100, 255) 0%,
            rgba(255, 200, 50) 25%,
            rgba(255, 0, 0) 50%,
            rgba(0, 50, 255) 75%,
            rgba(0, 255, 0) 100%);
    border-radius: 50%;
    filter: blur(10px);
    transform: translate(-50%, -50%) scale(0);
    animation: expandAura 10s ease-out forwards infinite;
    z-index: 0;
}

@keyframes expandAura {
    from {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0.7;
    }

    to {
        transform: translate(-50%, -50%) scale(15);
        opacity: 0;
    }
}

#welcometext {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 20px;
    z-index: 1;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease forwards;
    animation-delay: 1s;
}

#welcomebtn {
    padding: 10px 20px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    opacity: 0;
    max-height: 50px;
    transition-delay: 0;
    transform: translateY(50px);
    animation: fadeUp 2s ease forwards;
    animation-delay: 2s;
}

#welcomebtn:hover {
    background: white;
    color: black;
    scale: 1.1;
}

#welcomebtn:hover p {
    color: black;
}

#welcomebtn:hover span {
    transform: translateY(5px) scale(1.1);
}

#welcomebtn:active {
    scale: 0.9;
    opacity: 0.8;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



#smartUIdiv {
    width: 400px;
    height: 100px;
    margin: 15px 15px 15px 15px;
    background: #092241;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
    border: 5px solid #092241;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 0px 0px #092241;
}

#smartUIdiv h1 {
    color: white;
    overflow: hidden;
    font-size: 70px;
    top: -50%;
    left: 0px;
    z-index: 2;
    transition: all 0.2s ease-in-out;
}

#smartUIdiv:hover {
    background: white;
    width: 525px;
    transform: scale(1.2);
    color: #092241;
    box-shadow: 0 0 20px 10px #092241;
}

#smartUIdiv:hover h1 {
    color: #092241;
    transition: all 0.2s ease-in-out;
}


#smartUIdiv span {
    font-size: 100px;
    font-family: 'Bahnschrift';
    color: rgba(128, 128, 128, 0.3);
    transition: all 0.2s ease-in-out;
}

#smartUIdiv:hover span {
    color: black;
    font-weight: 800;
}

#smartUIdiv:active {
    scale: 0.95;
    opacity: 1;
}




#toggleLinesBtn {
    background-color: transparent;
    opacity: 0.2;
    position: absolute;
    top: -55%;
    right: -45%;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#toggleLinesBtn:hover {
    background-color: rgb(255, 255, 255, 0.3);
    opacity: 0.5;
    transform: scale(1);
    color: white;
    transition: all 0.3s ease;
}

#Assistant {
    transform: scale(1.01) translateY(50px);
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 125px;
    color: white;
    opacity: 0;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    font-family: "Inter";
    border: none;
    cursor: pointer;
    background: linear-gradient(to top, #092241 30%, transparent 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    animation: slideUpBounce 0.6s ease-out forwards;
}

#Assistant.show {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 125px;
    color: white;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    font-family: "Inter";
    border: none;
    cursor: pointer;
    transform: scale(1) translateY(0);
    background: linear-gradient(to top, #092241 30%, transparent 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    animation: slideUpBounce 0.6s ease-out forwards;
}

#AssistantContent {
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 60px;
    background-color: #007bff;
    color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
    font-family: "Inter";
    border: white 0.1px solid;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

#Assistant.show #AssistantContent {
    width: 90%;
    height: 60px;
    background-color: #007bff;
    color: white;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
    font-family: "Inter";
    border: white 0.1px solid;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    animation: slideUpBounce 0.6s ease-out forwards;
}

#AssistantContent:hover {
    border: #0056b3 2px solid;
    background-color: white;
    height: 90px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


#AssistantContent:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


#AssistantContent input {
    font-family: "Inter";
    width: 85%;
    height: 100%;
    border-radius: 20px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    color: white;

    background-color: transparent;
    outline: none;
}

#AssistantContent button {
    right: 10px;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.1);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}

#AssistantContent button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px #007bff;
    }

    50% {
        box-shadow: 0 0 20px #00c3ff;
    }

    100% {
        box-shadow: 0 0 10px #007bff;
    }
}

#AssistantContentContent.show {
    animation: pulseGlow 1.5s infinite;
}




#AssistantContentContent button {
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;

}

#AssistantContentContent button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#AssistantContent #closeAssistant {
    background-color: rgb(2550, 0, 0, 0.7);
}

#AssistantContent #closeAssistant:hover {
    background-color: rgb(255, 0, 0, 0.4);
}

#CommandInput {
    color: white;
}

#commandmodal {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: all 0.15s ease-in-out;
    flex-direction: column;
    padding: 20px;
    opacity: 0;
    align-items: center;
    justify-content: center;
}

#commandmodalcontent {
    display: flex;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    z-index: 1001;
}

#commandmodalcontent h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

#commandmodalcontent button {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 16px;
    color: #092241;
    background-color: red;
    outline: none;
}

.light-theme #ToolsDiv,
.light-theme #ToolsContent,
.light-theme #ToolsContent a,
.light-theme #News,
.light-theme #AboutUs,
.light-theme #PlatformStatus,
p,
a {
    color: #0c0022;

}

.dark-theme #ToolsDiv,
.light-theme #ToolsContent,
.light-theme #ToolsContent a,
.dark-theme #News,
.dark-theme #AboutUs,
.dark-theme #PlatformStatus,
p,
a {
    color: #fff;

}

.Work {
    cursor: not-allowed;
    position: relative;
    background-color: #444;
    /* Fond gris foncé */
    overflow: hidden;
    color: white;
    text-align: center;
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: #092241 2px 5px 10px 2px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Bande animée */
.Work::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    background: linear-gradient(135deg,
            #ffc107 25%,
            #444 25%,
            #444 50%,
            #ffc107 50%,
            #ffc107 75%,
            #444 75%,
            #444 100%);
    background-size: 80px 80px;
    animation: moveStripes 1s linear infinite;
    opacity: 0.5;
    z-index: 0;
    transition: all 0.3s;
}

.Work {
    transition: all 0.3s;
}

.Work:hover {
    transform: scale(1.05);
}


/* Texte au-dessus des bandes */
.Work h2 {
    position: relative;
    z-index: 2;
}

/* Animation des bandes */
@keyframes moveStripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 80px 0;
    }
}